*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.merchantLogin{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 100px;
   
}
.merchantLogin a{
    color: white;
    text-decoration: none;
}